.app__grafik {
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  height: 100vh;
}
.app__grafik-main{
  width: 100%;
  height: auto;
  justify-content: space-between;
  display: flex;
}
.app__grafik-menu img{
  width: 300px;
}
.app__grafik-menu{
  width: 20%;
  height: auto;
  background-color: black;
  border-right: 1px solid rgb(51, 46, 46);
}
.app__grafik-menu-h1{
  padding: 3rem 2rem;
  color: white;
  font-size: 18px;
}
.app__grafik-calendar{
  width: 80%;
  height: auto;
  background-color: black;
}
.app__grafik-calendar-h1{
  text-align: end;
  color: white;
  padding:30px;
}
.app__grafik-calendar-days{
  padding-left: 5rem; 
  padding-top: 2rem;
}
.app__grafik-calendar-main{
  flex-direction: column;
   display: flex;
 }
 
.app__grafik-calendar-button{
  float: right;
  border: 2px solid white;
  border-radius: 5%;
  width: 300px;
  height: 80px;
  font-size:larger;
  background-color: rgba(17, 15, 15, 0.959);
  margin:70px;
}

@media screen and (max-width:1150px) {
  .app__grafik-main{
   flex-direction: column;
    display: flex;
    max-width: 100%;
  }
  .app__grafik-menu{
    width: 100%;
    height: auto;
    background-color: black;
    border-right: none;
  }
  .app__grafik-calendar{
    width: 100%;
    height: auto;
    background-color: black;
    align-items: center;
  }
  .app__grafik-calendar-button{
    float: none;
    width: 230px;
    height: 50px;
  }
}
@media screen and (max-width:650px) {

}
