.app__DemoOneDay-day{
    text-align: left;   
    border:2px solid white ;
    border-radius: 5%;
    width: 100px;
    height: 50px;
    font-size: 10px;
    padding: 1%;
    float: left;
    margin: 10px;
}
.app__DemoOneDay-day:hover{
    cursor: pointer;
    border:2px solid var(--color-base) ;
}
.app__DemoOneDay-names{
    color: white;
    text-align: right;
    font-size: 17px;
    letter-spacing: normal;
}
.app__DemoOneDay-day-active{
    text-align: left;   
    border:2px solid var(--color-base) ;
    border-radius: 5%;
    width: 100px;
    height: 50px;
    font-size: 10px;
    padding: 1%;
    float: left;
    margin: 10px;
}