.app__start-new{
    position: fixed;
    top:20%;
    left: 25%;
    width: 50%;
    z-index: 5;
    height: 60vh;
    background-color: black;
    border: 2px solid white;
    border-radius: 2%;
    justify-content: space-between;
    display: flex;
    opacity: 0.9;
    color: white;
}
.app__start-new-inputs{
    padding: 3rem;

}
.app__start-new-text{
    padding: 4rem;
    align-items:center;
}
.errors{
    font-size: larger;
    color: rgb(255, 6, 6);
    margin-bottom: 20px;
}
.goodData{
    font-size: larger;
    color: rgb(55, 206, 55);
    margin-bottom: 20px;
}