.App {
    text-align: center;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .Name-Web{
    font-size: calc(15px + 2vmin);
    letter-spacing: 5px;
    align-items: center;
  }
  .goodLogin{
    color:#282c34;
  }
  .badLogin{
    color: red;
    height: 20px;
    margin-bottom: 15px;
  }
