.app__footer{
    width: 100%;
    height: 70vh;
    color: white;
    font-family: Garamond, serif;
}
.app__footer-main{
    flex: 1;
    display: flex;
    background-color: rgba(17, 15, 15, 0.959);
    font-size: 18px;
}
.app__footer-contact{
    height: 40vh;
    width: 50%;
    padding:4rem;
}
.app__footer-contact a{
    text-decoration: none;
    color: wheat;
}
.app__footer-contact a:hover{
    text-decoration: none;
    color: var(--color-base);
}
.app__footer-help{
    width: 50%;
    height: auto;
    padding: 4rem;
}
.app__footer-cr{
    background-color: black;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app__footer-cr text{
   font-size: small;
   padding:4rem;
} 
.app__footer-cr text:last-child{
    color: var(--color-base);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.app__footer-cr img{
    width: 160px;
    position: absolute;
    z-index: 0;
    right: 10px;
    transform: rotate(-10deg);
}
text{
    z-index: 2;
}
@media screen and (max-width:2000px) {
    .app__footer img{
        width: 150px;
    }
 }
 @media screen and (max-width:1150px) {
     .app__footer-cr{
        display: flex;
        flex-direction: column;
        align-items: center;       
    }
    .app__footer-cr text{
        padding:0.9rem;
     } 
     .app__footer img{
        width: 120px;
        transform: rotate(0deg);
    }
 }
 @media screen and (max-width:650px) {
    .app__footer{     
        height: auto;
     }
     .app__footer-main{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .app__footer-help{
        height: auto;   
        padding: 2rem;
     }
     .app__footer-contact{
        height: auto;   
        padding: 2rem;
     }    
 }
 