.app__demo{
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: black;
    color: white;
    display:flex;   
    justify-content: space-between;
    font-family: Garamond, serif;
}
.app__demo-text{
    display:flex;  
    padding: 5rem;
    width: 50%;
}
.app__demo-h1{
    font-size: xx-large;
    line-height: 60px;   
    display: flex;
    align-items:center ;
}
.app__demo-calendar{
    display:flex;  
    height: auto;
    align-items:flex-start;
}
.app__demo-grafik{
    padding: 4rem ;
    font-size: x-large;
    width: 50%;
}
.app__demo-grafik-h1{
    text-align: end;
}
.app__demo-grafik-calendar{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


 @media screen and (max-width:1150px) {
    .app__demo{
        text-align: center;
        padding-top: 20px;
        flex-direction: column;
        height: auto;
    }
    .app__demo-text{
        display:flex;  
        padding: 1rem;
        width: 100%;
    }
    .app__demo-h1{
        padding: 4rem 1rem;
        align-items:flex-start ;
        margin-top: 30px;
    }
    .app__demo-grafik{
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }
    .app__demo-grafik-h1{
        padding-right: 100px;
    }
    .app__demo-calendar{
        padding-bottom: 2rem;
        display: flex;
        height: auto;
    }
 }
