.app__demo{
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: black;
    color: white;
    display:flex;   
    justify-content: space-between;
    font-family: Garamond, serif;
}
.app__demo-text{
    display:flex;  
    padding: 5rem;
    width: 50%;
}
.app__demo-h1{
    font-size: xx-large;
    line-height: 60px;   
    display: flex;
    align-items:center ;
}
.app__demo-calendar{
    display:flex;  
    height: auto;
    align-items:flex-start;
}
.app__demo-grafik{
    padding: 4rem ;
    font-size: x-large;
    width: 50%;
}
.app__demo-grafik-h1{
    text-align: end;
}
.app__demo-grafik-calendar{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


 @media screen and (max-width:1150px) {
    .app__demo{
        text-align: center;
        padding-top: 20px;
        flex-direction: column;
        height: auto; 
        max-width: 100%;
    }
    .app__demo-h1{
        margin-top: 90px;
        font-size: 22px;
    }

    .app__demo-calendar{
        padding-bottom: 2rem;
        height: auto;
    }
    .arrow{
        display: none;
    }
 }
